<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
  th:replace="~{user/layouts/user-layout :: user-fragment(
                                                ~{:: #custom-style},
                                                ~{:: #mainContent},
                                                ~{:: #custom-script}
                                               )}">

<head>
  <th:block id="custom-style">

  </th:block>
</head>

<body>


    <div id="mainContent">
      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a th:href="@{/}">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                class="text-black">Hướng dẫn mua hàng</strong>
            </div>
          </div>
        </div>
      </div>
        <div style="margin-top: 3em; box-shadow: 0.2em 0.6em 1em 0.3em grey; " class="container">
            <div class="row" style="margin: 1em;">
                <h2 style="font-weight: bold; margin-top: 1em;">Hướng dẫn mua hàng</h2>                   
                <div class="product-description-wrapper">
                   
                    <p>
                      <span style="font-size: 12pt; color: #000000;">
                        <em>Rất cảm ơn quý khách hàng đã tin tưởng và lựa chọn mua sắm tại&nbsp;</em>
                      </span>
                      <span style="color:#d9b91c;">
                        <span style="font-size: 12pt;">
                          <em>Authentic.COM</em>
                        </span>
                      </span><span style="font-size: 12pt; color: #000000;"><em>.&nbsp;Chúng tôi có những phương thức thanh
                          toán nhanh chóng và tiện lợi để phục vụ quý khách hàng một cách tốt nhất :&nbsp;</em></span>
                    </p>
                    <h2
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="color: #ff0000; font-size: 15pt;"><b><u>1. ĐỐI VỚI KHÁCH HÀNG TẠI HN</u>:&nbsp;</b></span>
                    </h2>
                    <div>&nbsp;</div>
                    <p
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size:22px;"><strong><span style="color:#d9b91c;"><em>Cách 1 : Mua hàng trực tiếp tại
                              cửa hàng</em></span></strong></span>
                    </p>
                    <div>&nbsp;</div>
                    <div><em><span style="font-size: 12pt;">Sau khi chọn được sản phẩm và kiểm tra chi nhánh còn hàng, khách
                          hàng có thể mua hàng&nbsp;trực tiếp tại các chi nhánh&nbsp;của AUTHENTIC:&nbsp;</span></em></div>
                    <blockquote style="border-left: #eee 3px solid;">
                      <p style="margin-left: 1em;"><span style="font-size: 12pt;"><b>AUTHENTIC BÌNH THẠNH:</b> 43A&nbsp;Điện Biên Phủ, Phường 15, Q.
                          Bình Thạnh (gần Vòng xoay Mc.Donald) <span style="color:#d9b91c;"><em>(Có chỗ đậu xe
                              hơi)&nbsp;</em></span></span></p>               
                    </blockquote>
                    <p><span style="font-size:22px;"><strong><span style="color:#d9b91c;"><em>Cách 2 : Đặt hàng giao ngay qua
                              Hotline, Facebook, Zalo&nbsp;</em></span></strong></span></p>
                    <p><span style="font-size:16px;"><em>Nếu không thể đến trực tiếp 1 trong 4 chi nhánh&nbsp;của AUTHENTIC
                          , bạn có thể đặt hàng qua&nbsp;Hotline</em>&nbsp;:<span
                          style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-style: italic;">&nbsp;</span><span
                          style="color:#ff0000;"><span
                            style="font-family: helvetica, arial, sans-serif; font-style: italic;">0377.254.742</span></span><span
                          style="font-family: helvetica, arial, sans-serif; font-style: italic; color: rgb(0, 0, 0);">&nbsp;hoặc
                          các MXH :&nbsp;</span></span></p>
                    <blockquote style="border-left: #eee 3px solid;">
                      <p
                        style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size: 12pt;"><strong>FB:&nbsp;</strong><a
                            href="https://www.facebook.com/hoat.nongvan.75/">https://www.facebook.com/hoat.nongvan.75/</a></span>
                      </p>
                      <p
                        style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size: 12pt;"><strong>ZaloOA:&nbsp;</strong><a href="#">https://zalo.me</a></span>
                      </p>
                      <p
                        style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size: 12pt;"><strong>Instagram:&nbsp;</strong><a
                            href="#">https://www.instagram.com/AUTHENTIC47/</a></span>
                      </p>
                      <p
                        style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size: 12pt;"><strong>Zalo :&nbsp;</strong><span style="color:#ff0000;">0377.254.742
                          </span>(CSKH AUTHENTIC)</span>
                      </p>
                    </blockquote>
                    <p
                      style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size: 12pt;">Chúng tôi sẽ hỗ trợ vận chuyển ngay lập tức bằng&nbsp;<span
                          style="color: #000000;"><strong>GrabBike</strong></span><span>&nbsp;hoặc các ứng dụng giao hàng
                          <strong>Ahamove</strong>&nbsp;</span>trong thời gian 1--&gt; 2 tiếng theo khách hàng yêu
                        cầu.<span>&nbsp;</span><em>Cách này sẽ có phí giao hàng GrabBike từ 30 --&gt; 100.000vnd&nbsp;tuỳ địa
                          chỉ xa gần.&nbsp;</em></span>
                    </p>
                    <p
                      style="margin: 0px; margin-left: 1em; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      &nbsp;</p>
                    <h2
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size: 15pt;"><strong><span style="color: #ff0000;"><u>2.&nbsp; ĐỐI VỚI KHÁCH HÀNG Ở
                              TỈNH, TP KHÁC</u>:&nbsp;</span></strong></span>
                    </h2>
                    <h2
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      &nbsp;</h2>
                    <p
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size:22px;"><strong><span style="color:#d9b91c;"><em>Cách 1 : Thanh toán chuyển
                              khoản</em></span></strong></span>
                    </p>
                    <p
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      &nbsp;</p>
                    <p
                      style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size:16px;">Khách hàng chọn hình thức này sẽ nhận hàng nhanh nhất có thể.&nbsp;Hàng
                        hoá được chuyển đến tận tay khách hàng trong khoảng 1-3 ngày (tuỳ địa chỉ) thông qua hình thức Chuyển
                        phát nhanh của công ty vận chuyển Viettel Post, hoặc bằng nhà xe, chành xe nếu khách hàng yêu
                        cầu.&nbsp;&nbsp;</span>
                    </p>
                    <p
                      style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      &nbsp;</p>
                    <p
                      style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      <span style="font-size: 15pt;"><strong>Thông tin tài khoản AUTHENTIC :&nbsp;</strong></span>
                    </p>
                    <p
                      style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                      &nbsp;</p>
                    <blockquote>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="color:#d9b91c;"><span style="font-size: 15pt;"><em>1.&nbsp;</em></span></span><span
                          style="font-size:20px;"><i>VietinBank<span style="color:#d9b91c;">&nbsp;</span></i><em><span
                              style="color:#d9b91c;">–</span></em><i><span style="color:#d9b91c;">&nbsp;Công ty TNHH
                              AUTHENTIC&nbsp;</span></i><em><span style="color:#d9b91c;">–</span></em><i><span
                              style="color:#d9b91c;">&nbsp;</span><span style="color: #ff0000;"><strong>1106 1259
                                6789</strong></span>&nbsp;</i><em>–</em><i> Chi nhánh 4</i></span>
                      </p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        &nbsp;</p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="color:#d9b91c;"><span style="font-size: 15pt;"><em>2. </em></span></span><span
                          style="font-size: 15pt;"><em>Agribank</em></span><span style="color:#d9b91c;"><span
                            style="font-size: 15pt;"><em>&nbsp;– Nông Văn Hoạt –</em></span></span><span
                          style="font-size: 15pt; color: #3366ff;"><em>&nbsp;<strong><span style="color: #ff0000;">060 047 785
                                939</span>&nbsp;</strong></em></span><span style="font-size: 15pt;"><em>– Chi nhánh Hà
                            Nội</em></span>
                      </p>           
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        &nbsp;</p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="color:#d9b91c;"><span style="font-size:20px;"><i><u>Lưu ý</u> : Nội dung Chuyển khoản là
                              căn cứ để <strong>AUTHENTIC</strong> lưu thông tin Bảo Hành sản phẩm cho khách hàng và hỗ trợ
                              khách hàng trong những trường hợp cần đổi size hoặc đổi mẫu.&nbsp;</i></span></span>
                      </p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        &nbsp;</p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size: 12pt;">Khi nhận được chuyển khoản , <span
                            style="color:#d9b91c;"><strong>AUTHENTIC</strong></span> sẽ nhắn tin hoặc gọi điện thoại trực tiếp
                          cho Khách hàng để xác nhận. Hàng đựơc ship đi trong ngày, khi chuyển hàng&nbsp;<a
                            href="http://AUTHENTIC.com/"><span style="color:#d9b91c;">NEYMAR SPORT</span></a>&nbsp;sẽ gửi kèm
                          bạn thông tin số vận đơn để cho khách hàng thuận tiện trong việc kiểm tra tình trạng đơn hàng và chủ
                          động nhận hàng.</span>
                      </p>
                      <h2
                        style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        &nbsp;</h2>
                      <p
                        style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <span style="font-size:22px;"><strong><span style="color:#d9b91c;"><em>Cách 2&nbsp;: Thử giày - Thanh
                                toán tại nhà (COD)</em></span></strong></span>
                      </p>
                      <p><span style="font-size:16px;">Hình thức Thử giày - Thanh toán tại nhà (COD):&nbsp;<strong>Khách hàng
                            sẽ&nbsp;đặt cọc trước </strong><strong><span
                              style="color:#ff0000;">100.000vnd</span>,</strong><strong> tiền cọc được trừ vào giá sản phẩm.
                            Khách nhận hàng sẽ được KIỂM TRA SẢN PHẨM, THỬ GIÀY và sau đó thanh toán cho shipper.
                          </strong>Trong
                          trường hợp khách không nhận hàng, tiền cọc được tính là phí vận chuyển 2 chiều và sẽ không hoàn
                          lại.&nbsp;</span></p>
                      <p><span style="font-size:16px;"><em>Vd : Giá sản phẩm là : <span
                              style="color:#ff0000;">1.950.000vnd</span>, Khách hàng chọn hình thức COD sẽ đặt cọc trước
                          </em><span style="color:#ff0000;"><em>100.000vnd</em></span><em><span style="color:#ff0000;">
                            </span>bằng chuyển khoản hoặc thẻ cào điện thoại. Khi shipper giao hàng đến, Khách hàng nhận hàng
                            sẽ
                            thanh toán </em><span style="color:#ff0000;"><em>1.850.000vnd cho shipper&nbsp;giao
                              hàng.&nbsp;</em></span></span></p>
                      <blockquote>
                        <p><span style="font-size:16px;">Trong trường hợp Khách hàng lần đầu mua sản phẩm tại AUTHENTIC,
                            khách&nbsp;cần phải cung cấp số đo chân chính xác để nhân viên&nbsp;AUTHENTIC tư vấn và chọn size
                            vừa vặn, giảm thiểu rủi ro đặt nhầm size.&nbsp;</span></p>
                      </blockquote>
                      <p
                        style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; line-height: 20px;">
                        <em style="font-size:12pt">
                          <font color="#f1c40f"><strong>AUTHENTIC.COM</strong>&nbsp;</font><span style="color:#000000">với đội
                            ngũ CSKH Online rất có kinh nghiệm về tư vấn SIZE GIÀY BÓNG ĐÁ CHÍNH HÃNG, sẽ hỗ trợ khách hàng
                            một
                            cách nhanh chóng và chính xác nhất thông qua Facebook, Zalo, Hotline 24/7.</span>
                          <font color="#3366ff">&nbsp;</font>
                        </em><span style="font-size:12pt"><span style="color:#000000"><em>Trong trường hợp sau khi thanh toán,
                              khách hàng mang không vừa, Giữ Giày trong hộp và liên hệ chúng tôi để được tư vấn Đổi Size hoặc
                              Đổi sang 1 sản phẩm khác.</em></span></span>
                      </p>
                      <blockquote>
                        <p><span style="font-size:16px;">- Quý khách vui lòng<strong>&nbsp;<span style="color:#ff0000;">kiểm
                                tra
                                kỹ hàng hoá ngay khi nhận hàng</span></strong>&nbsp;từ người chuyển phát hàng hoá, nếu có vấn
                            đề
                            liên quan tới mẫu mã, chất lượng, số lượng hàng hoá không đúng như trong đơn đặt hàng, Quý khách
                            vui
                            lòng liên hệ <em>Hotline :</em><span style="color:#ff0000;"><em><strong>
                                  0377.254.742</strong></em></span> để phối hợp với đơn vị chuyển phát hàng hóa xử lý.</span>
                        </p>
                      </blockquote>
                      <p><em><span style="font-size:16px;"><strong>Các chi phí vận chuyển 2 chiều phát sinh trong quá trình
                              đổi
                              hàng (phí gửi ngược&nbsp;lại cửa hàng&nbsp;+ phí gửi hàng mới)</strong>&nbsp;sẽ do khách hàng
                            thanh toán.</span></em></p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        <em><span style="font-size:16px;"><strong>Những trường hợp Đổi hàng do vận chuyển nhầm Size</strong>,
                            <strong>nhầm mẫu</strong> : <strong>AUTHENTIC</strong> sẽ chịu chi phí vận chuyển 2 chiều và cam
                            kết mang đến cho khách hàng một sản phẩm ưng ý nhất.</span></em>
                      </p>
                      <p
                        style="margin: 0px; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 20px;">
                        &nbsp;</p>
                      <blockquote>
                        <h3
                          style="margin: 0px; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; line-height: 20px;">
                          <span style="font-size:16px;"><strong>Tra cước phí vận chuyển Viettel Post tại đây:</strong><span
                              style="color:#3366ff;">&nbsp;</span><em><a
                                href="https://viettelpost.com.vn/tra-cuoc-va-thoi-gian-van-chuyen/"><span
                                  style="color:#3366ff;">https://viettelpost.com.vn/tra-cuoc-va-thoi-gian-van-chuyen/</span></a></em></span>
                        </h3>
                        <h3><span style="font-size:16px;"><strong>Tra cứu lộ trình vận chuyển đơn hàng tại
                              đây:</strong>&nbsp;<em><a href="https://viettelpost.com.vn/tra-cuu-hanh-trinh-don/"><span
                                  style="color:#3366ff;">https://viettelpost.com.vn/tra-cuu-hanh-trinh-don/</span></a></em></span>
                        </h3>
                      </blockquote>
                  </div>
            </div>
        </div>
    </div>

  <th:block id="custom-script">

  </th:block>
</body>
</html>