<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layouts/user-layout :: user-fragment(
                                                ~{:: #custom-style},
                                                ~{:: #mainContent},
                                                ~{:: #custom-script}
                                               )}">

<head>
  <th:block id="custom-style">
<title th:utext="${title}"></title>
  </th:block>
</head>

<body>


  <div id="mainContent">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a th:href="@{/}">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cảm ơn</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Cảm ơn!</h2>
            <p class="lead mb-5">Đơn hàng của bạn đã đặt thành công.</p>
            <p><a th:href="@{order}" class="btn btn-sm height-auto px-4 py-3 btn-primary">Xem thông tin đơn hàng</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <th:block id="custom-script">

  </th:block>
</body>
</html>